* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 768px){
    .main{
        width: 750px;
    }
}
@media (min-width:992px){
    .main{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .main{
        width: 1170px;
    }
}
.main{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:  100vh;
   background-color:hsl(223, 40%, 84%) ;
}
.main2{
   
    background-color: rgb(255, 255, 255);
    width:380px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
  border-radius: 15px;
  height: 570px;
   
}
.img1{
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    
}
.hed1{
    text-align: center;
   font-family: arial;
   font-weight: bold;
}
.par2{
    text-align: center;
    font-family: arial;
    color: rgb(38, 38, 38);
}